@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Raleway&display=swap');

html{
  font-size: 120%;
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background: rgb(255, 255, 255);
}

*, *::before, *::after{
  box-sizing: inherit;
}

/* nav bar  */
nav{
  overflow: auto;
  white-space: nowrap;
  float: right;
  padding: 1%;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .5px;
}

nav li{
  color: rgb(82, 82, 82);
  display: inline-block;
  list-style-type: none;
  padding: 12px;
  text-align: center;
}

nav li:hover{
  /* border-bottom: 2px solid rgb(82, 82, 82); */
  color: rgb(45, 33, 33);
  text-shadow: rgb(45, 33, 33) 0px .1px .1px;
}

h1{
  font-family: 'Raleway', sans-serif;
  letter-spacing: .5px;
  font-size: 70px;
  font-weight: 100;
  padding: 10vh;
  color: #8E9AAF;
}

section{
	width: 80%;
	/* background-color: white; */
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 5%;
}

/* footer a{
  text-decoration: none;
  color: rgb(209, 211, 255);
} */

/* social */

.social_square_icons ul {
  padding: 0;
  list-style: none;
  margin-top: 20px;
  width: 100%;
}

.social_square_icons ul li:first-child {
  margin-left: 0px;
}

.social_square_icons ul li a {
  float: left;
  line-height: 40px;
  color: #e0e0e0;
  height: 40px;
  width: 40px;
  text-align: center;
  margin-bottom: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
}

.gap {
  margin-right: 10px;
}

.social_icons_rounded ul li a i {
  font-size: 16px;
}

.instagram:hover {
  color: #fff;
  background: #2a9ab3;
  border: 1px solid #2a66b3;
}

.pinterest:hover {
  color: #fff;
  background: #cb2027;
  border: 1px solid #cb2027;
}

.linkedin:hover {
  color: #fff;
  background: #007bb5;
  border: 1px solid #007bb5;
}

.github:hover {
  color: #fff;
  background: #5e2b8b;
  border: 1px solid #2a66b3;
}

.dribbble:hover {
  color: #fff;
  background: #ac427d;
  border: 1px solid #2a66b3;
}