@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


html{
  font-size: 100%;
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background: rgb(248, 241, 245);
}

*, *::before, *::after{
  box-sizing: inherit;
}

/* nav bar  */
nav{
  overflow: auto;
  white-space: nowrap;
  float: right;
  padding: 10px;
}

nav li{
  color: rgb(82, 82, 82);
  display: inline-block;
  list-style-type: none;
  padding: 12px;
  text-align: center;
}

nav li:hover{
  border-bottom: 2px solid rgb(82, 82, 82);
}

h1{
  font-family: 'Sacramento', cursive;
  font-style: italic;
  letter-spacing: .5px;
  font-size: 70px;
  font-weight: 100;
  padding: 10vh;
  color: rgb(255, 255, 216);
}

footer a{
  text-decoration: none;
  color: rgb(222, 223, 255);
}